.scan-page{
    overflow-x: hidden;
    overflow-y: hidden;
}
.scan-page h2, h4{
    text-align: center;
    margin: 20px;
    text-transform: uppercase;
    letter-spacing: 1.2px;
}
.scan-page table{
    margin: auto;
    width: 100%;
}
.scan-page table,th,tr,td{
    border: 1px solid #ddd;
    border-collapse: collapse;
}
th, td{
    text-align: center;
    padding: 10px;
    text-transform: capitalize;
}
table a{
    color: rgb(3, 165, 206);
}

.scan-page img{
    width: 70px;
    height: 100px;
    object-fit: cover;
}